.diagramWrapper {
	padding: 4rem 0;
}

.diagramWrapper img {
  width: 100%;
  height: auto;
  max-width: 700px;
}

/* Mobile adjustment */
@media (max-width: 768px) {
  .diagramWrapper img {
    max-width: 100%;
  }
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  cursor: zoom-out;
}
